DATABASE_URL="postgresql://postgres:postgres@localhost:5432/future_millionaires?schema=public"
AUTH_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
SEED_ADMIN_LOGIN="director"
SEED_ADMIN_PASSWORD="ChangeMe123!"
